@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    max-width: 100%;
 body {
  font-family: 'Lato', sans-serif;
}
font-size: 1rem;
}
/* Сброс списков и ссылок */
ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit; /* Наследует цвет родителя */
}

/* Сброс кнопок и инпутов */
button, input, textarea, select {
  font: inherit; /* Наследуем шрифт */
  border: none; /* Убираем дефолтные бордеры */
  background: none; /* Убираем дефолтный фон */
  outline: none; /* Убираем фокусную обводку (можно добавить кастомную) */
}

/* Картинки и медиа */
img, video {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Основные теги */
body {
  line-height: 1.5; /* Удобочитаемость */
  color: #000; /* Базовый цвет текста */
  background: #fff; /* Фоновый цвет */
}

/* Для ссылок при фокусе/hover */
a:focus, a:hover {
  outline: none;
}

/* Для глобального плавного перехода */
*,
*::before,
*::after {
  transition: all 0.2s ease-in-out;
}
/* Стрелки */
.swiper-button-next,
.swiper-button-prev {
  color: black;      /* Меняет цвет иконки */
  fill: black;       /* На всякий случай для SVG */
}
@media (max-width:768px) {
  .swiper-button-next,
.swiper-button-prev{
  display: none;
}
}
/* Точки */
.swiper-pagination-bullet {
  background: white
}

.swiper-pagination-bullet-active {
  background: white; /* Активная */
  transform: scale(120%);
}
